<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.codefarmer.mybatismoredate.dao1.UserMapperOne">
    <select id="getAllUser" resultType="org.codefarmer.mybatismoredate.pojo.User">
        select * from  user
    </select>

</mapper>